@charset "UTF-8";
@import 'reset';

/****************************************
 * 01,common
 * 02,header
 * 03,footer
 * 04,main
 * 05,main_nav
 * 06,loading
 * 07,complete
 * 08,PC
 ****************************************/

 /****************************************
 * 01,common
 ****************************************/
 @import 'common';

 /****************************************
 * 02,header
 ****************************************/
 header {
	background: $stroke-color;
    box-sizing: border-box;
	min-height: 100vh;
	padding: 0px 0px 60px;
	position: relative;
	width: 100%;
}
.header_nav {
	ul {
		float: right;
		margin: 40px 10% 0px 0px;
		text-align: right;
		li {
			color: $base-color;
			font-size: 1.8rem;
			margin-bottom: 40px;
			&:last-of-type {
				margin-bottom: 0px;
			}
			a {
				color: $base-color;
				text-decoration: none;
				&:visited {
					color: $base-color;
					text-decoration: none;
				}
			}
		}
	}
}
.header_scroll {
	bottom: 0;
	left: 0;
	margin: auto auto 40px;
	position: absolute;
	right: 0;
	text-align: center;
	img {
		height: 100px;
		width: auto;
	}
}

/****************************************
 * 03,footer
****************************************/
 footer {
	background: $font-color;
	.copyright {
		color: $base-color;
		font-size: 1.0rem;
		padding: 5px 0px;
		text-align: center;
	}
}

/****************************************
 * 04,main
****************************************/
article > section {
	min-height: 100vh;
}
.main_cts {
	margin: auto;
	padding: 100px 10% 60px;
	h1 {
		margin-bottom: 60px;
		text-align: center;
		img {
			height: 22px;
			vertical-align: bottom;
			width: auto;
		}
	}
}
// skill
.skill_set_cts {
	margin:60px 0px 0px;
	&:first-of-type {
		margin-top: 0px;
	}
	h2 {
		font-size: 1.8rem;
		font-weight: normal;
		margin-bottom: 20px;
		text-align: center;
		img {
			display: block;
			height: 50px;
			margin: 0px auto 20px;
			width: auto;
		}
	}
	.skil_set_text {
		max-height: 3em;
		overflow: hidden;
		position: relative;
		transition: all 1s ease-out 0s;
		&::after {
			background: linear-gradient(rgba(#fff, 0) 0%, rgba(#FFFFFE, 1) 70%);
			bottom: 0;
			content: "";
			display: block;
			height: 2em;
			left: 0;
			position: absolute;
			right: 0;
			width: 100%;
		}
	}
	// show
	&.show {
		.skil_set_text {
			max-height: 100vh;/*100vhを超えるものは要相談*/
			overflow: auto;
			&::after {
				content: none;
			}
		}
		.cts_more {
			display: none;
		}
	}
}
// more...
.cts_more {
	text-align: center;
	text-decoration: underline;
	vertical-align: middle;
	&::after {
		border: 5px solid transparent;
		border-top: 8px solid;
		content: "";
		display: inline-block;
		height: 0;
		margin-left: 5px;
		vertical-align: bottom;
		width: 0;
	}
}

// career
.career {
	background: $base-color02;
}
.career_text p {
	margin-top: 20px;
}
.career_flow {
	border-left: 3px solid $font-color;
	list-style: none;
	margin: 60px 0px 0px -5%;
	padding: 0px 0px 0px 30px;
	.career_detail {
		margin-top: 60px;
		&:first-of-type {
			margin-top: 0px;
		}
		h2 {
			font-size: 1.6rem;
			font-weight: normal;
			position: relative;
			&::before {
				background: $font-color;
				content: "";
				display: block;
				height: 15px;
				left: calc(-30px + -9px);
				position: absolute;
				top: 5px;
				width: 15px;
			}
			.career_date {
				display: block;
				margin-bottom: 5px;
			}
		}
		// show
		&.show {
			.career_tool {
				margin-top: 30px;
				max-height: 100vh;
				opacity: 1;
			}
			.career_more {
				display: none;
			}
		}
	}
}
.career_read_txt {
	font-size: 1.2rem;
	margin-top: 20px;
}
.career_tool {
	font-size: 1.2rem;
	// margin-top: 30px;
	margin-top: 0px;
	max-height: 0px;
	// display: none;
	opacity: 0;
	overflow: hidden;
	transition: all 1s ease-out 0s;
	dt {
		margin-bottom: 5px;
		// display: none;
	}
	dd {
		margin-bottom: 10px;
		padding: 0px 0px 0px 1em;
		// display: none;
	}
}

.career_more {
	margin-top: 20px;
	text-decoration: underline;
	&::after {
		border: 5px solid transparent;
		border-top: 8px solid;
		content: "";
		display: inline-block;
		height: 0;
		margin-left: 5px;
		vertical-align: bottom;
		width: 0;
	}
}

// works
.works {
	background: $base-color03;
}
.works_cts_detail {
	margin: 60px auto 0px;
	max-width: 200px;
	width: 100%;
	&:first-of-type {
		margin-top: 0px;
	}
}
.works_tst {
	background: $font-color;
	overflow: hidden;
	padding-top: 100%;
	position: relative;
	width: 100%;
	img {
		bottom: 0px;
		display: block;
		height: auto;
		left: 0px;
		margin: auto;
		position: absolute;
		right: 0px;
		top: -10%;
		width: 40%;
	}
	.works_caption {
		background: $base-color;
		bottom: 0px;
		left: 0px;
		opacity: 50%;
		padding: 10px;
		position: absolute;
		right: 0px;
		text-align: center;
	}
}
.works_more {
	margin-top: 40px;
	text-align: right;
	text-decoration: underline;
}

// about
.about {
	box-sizing: border-box;
	// min-height: calc(100vh - 25px);
}
.about_cts {
	font-style: normal;
	text-align: center;
	.about_name {
		font-size: 1.8rem;
		text-align: center;
	}
}
.about_address {
	// font-size: 1.6rem;
	display: inline-block;
	margin-top: 40px;
	text-align: left;
}
.about_add_title {
	margin-top: 30px;
	&:first-of-type {
		margin-top: 0px;
	}
	&::after {
		content: ":";
		display: inline-block;
		margin-left: 5px;
	}
}
.about_add_txt {
	margin-top: 20px;
	a {
		color: $font-color;
		&:visited {
			color: $font-color;
		}
	}
}

// contact
.contact {
	background: $stroke-color;
	box-sizing: border-box;
	min-height: calc(100vh - 25px);
}
.contact_form {
	.form_title {
		color: $base-color;
		margin-bottom: 10px;
	}
	.form_input {
		margin-bottom: 20px;
		input,textarea {
			background: $base-color;
			border: 1px solid $base-color02;
			border-radius: 5px;
			color: $font-color;
			font-size: 1.6rem;
			padding: 10px 5px;
			width: 100%;
			&::placeholder {
				color: #ccc;
			}
		}
		textarea {
			height: 150px;
			resize: none;
		}
	}
	button {
		&[type="submit"] {
			background: $accent-color;
			border-radius: 50px;
			box-shadow: 0px 5px 0 #AF8F04;
			color: $font-color;
			display: block;
			font-size: 1.4rem;
			margin: 10px auto 0px;
			padding: 10px 0px;
			width: 100px;
			&:active {
				box-shadow: none;
				transform: translatey(5px);
			}
		}
	}
}

/****************************************
 * 05,main_nav
 ****************************************/
// .main_nav {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	background: rgba(#fff,0.8);
// 	padding: 90px 40px 50px;
// 	z-index: 10;
//  	ul {
// 		li {
// 			margin: 20px 0px;
// 			a {
// 				text-decoration: none;
// 				color: $font-color;
// 				font-size: 1.8rem;
// 			}
// 		}
// 	}
// }
// .nav_open {
// 	width: 30px;
// 	height: 30px;
// 	position: absolute;
// 	top: 20px;
// 	right: 20px;
// 	z-index: 20;
// 	span {
// 		display: block;
// 		position: relative;
// 		margin-top: 15px;
// 		&::before {
// 			content: "";
// 			display: block;
// 			width: 25px;
// 			height: 3px;
// 			background: $font-color;
// 			transform: rotate(45deg);
// 			position: absolute;
// 			top: 0;
// 			bottom: 0;
// 			right: 0;
// 			left: 0;
// 			margin: auto;
// 		}
// 		&::after {
// 			content: "";
// 			display: block;
// 			width: 25px;
// 			height: 3px;
// 			background: $font-color;
// 			transform: rotate(-45deg);
// 			position: absolute;
// 			top: 0;
// 			bottom: 0;
// 			right: 0;
// 			left: 0;
// 			margin: auto;
// 		}
// 	}
// }

//  close
// .main_nav.close {
// 	padding: 0px;
// 	ul {
// 		display: none;
// 	}
// 	.nav_open {
// 		span {
// 			margin: 0px auto 0px;
// 			width: 25px;
// 			height: 3px;
// 			background: $font-color;
// 			&::before {
// 				transform: none;
// 				bottom: 0;
// 				margin-top: 20px;
// 			}
// 			&::after {
// 				transform: none;
// 				bottom: 0;
// 				margin-top: 10px;
// 			}
// 		}
// 	}
// }

// main_nav 2パターン
.main_nav {
	box-shadow: 0 0 5px #ccc;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	ul {
		background: $base-color;
		display: table;
		width: 100%;
		li {
			border: 1px solid $base-color03;
			border-right: 0px;
			display: table-cell;
			vertical-align: middle;
			width: 20%;
			&:last-of-type {
				border-right: 1px solid $base-color03;
			}
			&.link_now {
				background: $base-color03;
			}
			a {
				color: $font-color;
				display: block;
				font-size: 1.2rem;
				height: 100%;
				letter-spacing: 0.1em;
				padding: 20px 0px;
				text-align: center;
				text-decoration: none;
				width: 100%;
				// font-weight: bold;
				&[href="#contact"] {
					font-size: 1.0rem;
				}
			}
		}
	}
}
 /****************************************
 * 06,loading
 ****************************************/
.js_load {
	background: $stroke-color;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 20;
	.js_load_cont {
		bottom: 0;
		height: 100px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		.load_box {
			height: 100%;
			position: relative;
			width: 100%;
			div {
				bottom: 0;
				height: 50px;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 50px;
				svg {
					height: 100%;
					width: 100%;
				}
			}
		}
		.load_text {
			color: $accent-color;
			text-align: center;
			white-space: nowrap;
		}
	}
}
#sumile {
	.cls-1 {
		fill: #e8c533;
	}
}

#s_01 {
	animation: smile01 1s ease-in-out 0s infinite normal;
}
#s_01_2 {
	animation: smile02 1s ease-in-out 0s infinite normal;
}
#s_02 {
	animation: smile01 1s ease-in-out 0s infinite normal;
}
#s_02_2 {
	animation: smile02 1s ease-in-out 0s infinite normal;
}
@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes smile01 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes smile02 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/****************************************
* 07,complete
****************************************/

.complete {
	background: $stroke-color;
	box-sizing: border-box;
	min-height: calc(100vh - 25px);
	padding-bottom: 60px;
}
.complete_box {
	height: calc(100vh - 200px);
	min-height: 300px;
	position: relative;
	width: 100%;
	.comp_message {
		height: 0px;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 55%;
		transform: translate(-50%, -50%);
		.comp_img {
			div {
				height: 50px;
				margin: auto;
				width: 50px;
				svg {
					height: 100%;
					width: 100%;
				}
			}
		}
		.comp_text {
			color: $accent-color;
			font-size: 1.4rem;
			margin-top: 25px;
		}
	}

}
.comp_button {
	a {
		background: $accent-color;
		border-radius: 50px;
		box-shadow: 0px 5px 0 #AF8F04;
		display: block;
		margin: 30px auto 0px;
		padding: 10px 0px;
		text-align: center;
		width: 100px;
		img {
			height: 14px;
			vertical-align: middle;
			width: auto;
		}
		&:active {
			box-shadow: none;
			transform: translatey(5px);
		}
	}
}

/****************************************
 * 08,PC
****************************************/
@import 'pc';